In [1]:
import pygal 
import pandas as pd

In [5]:
coal_df = pd.read_csv('datasets/production.csv')

coal_df.head()

,Mineral,States,Unit,Quantity 2010-11,Value 2010-11,Quantity 2011-12,Value 2011-12,Quantity 2012-13,Value 2012-13,Quantity 2013-14,Value 2013-14,Quantity 2014-15(P),Value 2014-15(P)
0,Coal,India,000tonne,532694.0,620210400.0,539950.0,701719100.0,556402.0,747186600.0,565765.0,825347500.0,610208.0,891754480.0
1,Coal,Andhra Pradesh,000tonne,51333.0,81106100.0,52211.0,90008100.0,53190.0,91695800.0,50469.0,73998000.0,0.0,0.0
2,Coal,Arunachal Pradesh,000tonne,299.0,1106000.0,221.0,1464100.0,73.0,483600.0,0.0,0.0,0.0,0.0
3,Coal,Assam,000tonne,1101.0,4072600.0,602.0,3988000.0,605.0,3591200.0,664.0,3392900.0,767.0,3919209.0
4,Coal,Chhattisgarh,000tonne,113824.0,58256200.0,113958.0,70740300.0,117830.0,90750700.0,127095.0,89275000.0,134396.0,94403380.0

In [6]:
coal_df.tail()

,Mineral,States,Unit,Quantity 2010-11,Value 2010-11,Quantity 2011-12,Value 2011-12,Quantity 2012-13,Value 2012-13,Quantity 2013-14,Value 2013-14,Quantity 2014-15(P),Value 2014-15(P)
447,Vermiculite,Madhya Pradesh,tonne,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
448,Vermiculite,Rajasthan,tonne,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
449,Vermiculite,Tamil Nadu,tonne,2153.0,4818.0,1542.0,3454.0,1373.0,3095.0,2201.0,4928.0,2201.0,4922.0
450,Wollastonite,India,tonne,183381.0,145958.0,184445.0,159974.0,145667.0,127468.0,192712.0,157090.0,186519.0,162170.0
451,Wollastonite,Rajasthan,tonne,183381.0,145958.0,184445.0,159974.0,145667.0,127468.0,192712.0,157090.0,186519.0,162170.0

In [7]:
coal_df = coal_df[coal_df['Mineral'] == 'Coal']

coal_df.shape

(14, 13)

In [8]:
coal_df  = coal_df[['States', 'Quantity 2010-11',
                    'Quantity 2011-12', 'Quantity 2012-13', 
                    'Quantity 2013-14','Quantity 2014-15(P)']]

In [9]:
coal_df

,States,Quantity 2010-11,Quantity 2011-12,Quantity 2012-13,Quantity 2013-14,Quantity 2014-15(P)
0,India,532694.0,539950.0,556402.0,565765.0,610208.0
1,Andhra Pradesh,51333.0,52211.0,53190.0,50469.0,0.0
2,Arunachal Pradesh,299.0,221.0,73.0,0.0,0.0
3,Assam,1101.0,602.0,605.0,664.0,767.0
4,Chhattisgarh,113824.0,113958.0,117830.0,127095.0,134396.0
5,Jammu & Kashmir,24.0,20.0,19.0,19.0,16.0
6,Jharkhand,108949.0,109566.0,111274.0,113091.0,124747.0
7,Meghalaya,6974.0,7206.0,5640.0,5732.0,5732.0
8,Madhya Pradesh,71104.0,71123.0,75948.0,75590.0,85208.0
9,Maharashtra,39336.0,39159.0,39134.0,37223.0,38622.0
10,Orissa,102565.0,105476.0,110132.0,112917.0,122948.0
11,Uttar Pradesh,15526.0,16178.0,16090.0,14721.0,15457.0
12,Telangana*,NaN,NaN,NaN,NaN,52536.0
13,West Bengal,21659.0,24230.0,26467.0,28244.0,29779.0

In [10]:
coal_df = coal_df.drop([0])

In [11]:
coal_df = coal_df.dropna()

In [12]:
coal_df.columns=['States', '2010-11', '2011-12', '2012-13', '2013-14', '2014-15']

In [13]:
coal_df = coal_df[coal_df['2014-15'] > 10000].reset_index()

coal_df

   index          States   2010-11   2011-12   2012-13   2013-14   2014-15
0      4    Chhattisgarh  113824.0  113958.0  117830.0  127095.0  134396.0
1      6       Jharkhand  108949.0  109566.0  111274.0  113091.0  124747.0
2      8  Madhya Pradesh   71104.0   71123.0   75948.0   75590.0   85208.0
3      9     Maharashtra   39336.0   39159.0   39134.0   37223.0   38622.0
4     10          Orissa  102565.0  105476.0  110132.0  112917.0  122948.0
5     11   Uttar Pradesh   15526.0   16178.0   16090.0   14721.0   15457.0
6     13     West Bengal   21659.0   24230.0   26467.0   28244.0   29779.0

In [14]:
coal_df = coal_df.drop(['index'], axis = 1)

coal_df

           States   2010-11   2011-12   2012-13   2013-14   2014-15
0    Chhattisgarh  113824.0  113958.0  117830.0  127095.0  134396.0
1       Jharkhand  108949.0  109566.0  111274.0  113091.0  124747.0
2  Madhya Pradesh   71104.0   71123.0   75948.0   75590.0   85208.0
3     Maharashtra   39336.0   39159.0   39134.0   37223.0   38622.0
4          Orissa  102565.0  105476.0  110132.0  112917.0  122948.0
5   Uttar Pradesh   15526.0   16178.0   16090.0   14721.0   15457.0
6     West Bengal   21659.0   24230.0   26467.0   28244.0   29779.0

In [15]:
coal_df.loc[:, '2010-11':'2014-15'] = coal_df.loc[:, '2010-11':'2014-15']\
                                             .div(1000)\
                                             .round()

coal_df

           States  2010-11  2011-12  2012-13  2013-14  2014-15
0    Chhattisgarh    114.0    114.0    118.0    127.0    134.0
1       Jharkhand    109.0    110.0    111.0    113.0    125.0
2  Madhya Pradesh     71.0     71.0     76.0     76.0     85.0
3     Maharashtra     39.0     39.0     39.0     37.0     39.0
4          Orissa    103.0    105.0    110.0    113.0    123.0
5   Uttar Pradesh     16.0     16.0     16.0     15.0     15.0
6     West Bengal     22.0     24.0     26.0     28.0     30.0

In [16]:
from IPython.display import display, HTML

html_skeleton = """
<!DOCTYPE html>
<html>
  <head>
  <script type="text/javascript" 
          src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js">
  </script>
  <script type="text/javascript" 
          src="https://kozea.github.io/pygal.js/2.0.x/pygal-tooltips.min.js"">
  </script>
  </head>
  <body>
    <figure>
      {rendered_chart}
    </figure>
  </body>
</html>
"""

def display_chart(chart):
    rendered_chart = chart.render(is_unicode=True)
    plot_html = html_skeleton.format(rendered_chart=rendered_chart)
    display(HTML(plot_html))

In [17]:
dot_chart = pygal.Dot(width = 640,
                      height = 400,
                      explicit_size = True,
                      truncate_legend = -1,
                      x_label_rotation = 30)

In [18]:
dot_chart.title = 'Coal Production in Indian States'

dot_chart.x_labels = coal_df.columns[1:]

In [19]:
dot_chart.value_formatter = lambda x: '{:.10g}M tons'.format(x)

In [20]:
for index, row in coal_df.iterrows():
        dot_chart.add(row['States'], row['2010-11': '2014-15'])

In [21]:
display_chart(dot_chart)