In [1]:
import pygal
import pandas as pd

In [3]:
coffee_df = pd.read_csv('datasets/FAOSTAT_data_5-10-2020.csv')

In [4]:
coffee_df.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QC,Crops,7,Angola,5312,Area harvested,656,"Coffee, green",2018,2018,ha,52938.0,Im,FAO data based on imputation methodology
1,QC,Crops,7,Angola,5419,Yield,656,"Coffee, green",2018,2018,hg/ha,3037.0,Fc,Calculated data
2,QC,Crops,7,Angola,5510,Production,656,"Coffee, green",2018,2018,tonnes,16079.0,Im,FAO data based on imputation methodology
3,QC,Crops,23,Belize,5312,Area harvested,656,"Coffee, green",2018,2018,ha,71.0,Im,FAO data based on imputation methodology
4,QC,Crops,23,Belize,5419,Yield,656,"Coffee, green",2018,2018,hg/ha,12716.0,Fc,Calculated data

In [5]:
coffee_df.shape

(250, 14)

In [7]:
coffee_df = coffee_df[['Area','Item', 'Value']]

In [8]:
coffee_df.columns = ['Country', 'Item', 'Value']

In [9]:
coffee_df.head()

  Country           Item    Value
0  Angola  Coffee, green  52938.0
1  Angola  Coffee, green   3037.0
2  Angola  Coffee, green  16079.0
3  Belize  Coffee, green     71.0
4  Belize  Coffee, green  12716.0

In [10]:
coffee_df= coffee_df.dropna()